
body {
	background-color: #FBF0D9;
}

#dcs_tree_container {
	margin-left: -40px;
}
#dcs_tree{
	
}
#dcs_tree li { 
	font-family: "Arimo", sans-serif;
	display:block; 
	text-decoration:none; 
	padding-left:10px; 
}

.book {
	font-size: 16pt;
	font-weight: bold;
	color: #FF0000;
	border-top-style:none;
}

.mode {
	margin-left: -25px;
	font-size: 12pt;
	font-weight: bold;
	color: #CC0000;
	border-top-style:solid; 
	border-top-width:1px; 
}

.day {
	margin-left: -25px;
	font-size: 12pt;
	font-weight: bold;
	color: #990000;
	border-top-style:solid; 
	border-top-width:1px; 
}

.service {
	margin-left: -25px;
	font-size: 12pt;
	font-weight: bold;
	color: #660000;
	border-top-style:solid; 
	border-top-width:1px; 
}

.notation {
	margin-left: -25px;
	font-size: 12pt;
	font-weight: bold;
	color: #330000;
	border-top-style:solid; 
	border-top-width:1px; 
}

.treeparent:hover {
	cursor: default;
}

.treelink {
	margin-left: -25px;
	font-size: 12pt;
	font-weight: normal;
	color: #000000;
}

.treelink:hover {
	cursor: pointer;
}
